@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
}

h1, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.main {
    background-color: #23424A;
    padding: 5rem 3rem;
}
.message {
    color: white;
    max-width: 700px;
    
}

.message h1{
    margin-bottom: 0.5rem;
    font-size: 3rem; 
}
.message p {
    line-height: 1.5rem;
    margin-bottom: 2rem; 
    
    
}

.btn {
    background-color: #38CFD9;
    color: #23424A;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    padding: 0.8em 2em;
    font-weight: bold;
}