*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --brown: #824936;
}

body {
    margin: 0;
    font-size: 16px;
}

h1, h2 , p{
    margin: 0;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
}

img {
    max-width: 100%;
}

.titles {
    margin-bottom: 1.25rem;
    font-size: 2.25rem;
}
.container {
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
}

.row {
    display: flex;
    padding: 2rem 0;
}
.col {
    font-family: 'Roboto',sans-serif;
    font-weight: 200;
    line-height: 1.5;
    width: 50%;
}

.col + .col {
    margin-left: 50px;
}

.hero__section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 640px;
    background-color: #F3EED9;
}

.hero__section--content {
    width: 90%;
    max-width: 700px;
    text-align: center;
}

.hero__section--content p {
    text-transform: uppercase;
    margin-bottom: 0.8em;
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: .4em;
}
.hero__section--content h1 {
    color: var(--brown);
    line-height: 1;
    font-size: 3.75rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
}

.quality__assuarance {
    padding: 4rem 0;
}

.quality__assuarance h2 {
    text-align: center;
    color: var(--brown);
    
}

.custom {
    background-color: #222C2A;
    color: #fff;
    padding: 3rem 0;
}

.img__wrapper img {
    width: 100%;
}

.care {
    background-color: var(--brown);
    padding: 3rem 0;
    color: white;
}
