*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --highlight: #A59678;
    --dark-background: #3B4050;
    --light-background:  rgb(240, 240, 240);
    --section-padding: 4rem 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

header {
    background-color: #2E323F;
    padding: 1rem 0;
}

h1,h2,h3 {
    margin-top: 0;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: var(--highlight);
}

.product__product p {
    font-size: 1.125rem;
}

.btn {
    background-color: var(--highlight);
    padding: 0.6em 1em;
    border: none;
    border-radius: 25px;
    text-align: center;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

}
.logo-mobile {
    padding-left: 1em;
}


.logo {
    display: flex;
    align-items: center;
}

.mobile-row {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.mobile-nav {
    color: white;
}

.nav__link {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #FFF;

}

.nav {
    background-color: rgba(0, 0,0,0.9);
    position: absolute;
    height: 100vh;
    top: 0;
    left: 100px;
    right: 0;
}
#mobile-nav {
    margin-right: 1em;
    padding: 0 2em;
}
.mobile-primary-nav {
    display: none;
}

.close-menu-btn {
    color: white;
    background-color: var(--highlight);
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-top: 1em;
    margin-right: 1em;    
}
.close-menu-btn p {
    font-weight: bold;
    font-size: 1.5em;
}

.nav-wrapper {
    width: 60%;
    padding: 0 1em;
    margin-top: 4em;
}

.hero__title {
    color: #FFF;
    line-height: 1.2;
    font-size: 3rem;
}

.hero__title span {
    color: var(--highlight);
}

.footer__title {
    color: white;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.hero {
    background-color: var(--dark-background);
    min-height: 500px;
    display: flex;
    align-items: center;
}

.hero__btn {
    font-size: 1rem;
}

.hero__content p {
    color: rgb(216, 209, 209);
}

.products {
    background-color: var(--light-background);
    padding: var(--section-padding);
}

.workflow__section--1 {
    padding: var(--section-padding);
}

.workflow--work {
    background-color: var(--dark-background);
    color: #FFF;
    text-align: center;
    padding: 1em;
    margin-bottom: 1rem;
}

.workflow--work h2 {
    color: #FFF;
}

.footer {
    background-color: var(--dark-background);
    padding: var(--section-padding);

}

.footer h1 {
    line-height: 1;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.footer__section {
    color: var(--light-background);
}

@media (min-width: 700px) {

    .logo {
        display: none;
    }

    .mobile {
        display: none;
    }
    .mobile-row {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }
    .nav {
        position: relative;
        background: none;
        display: block;
        height: 10%;
        width: 100%;
        left: 0;
    }
    .nav-wrapper {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .nav__link--btn {
        padding: 0 2rem;
    }
    .hero h1 {
        font-size: 3.25rem;
    }
    .workflow__section--2 {
        display: flex;
    }
    .workflow--work + .workflow--work {
        margin-left: 1rem;
    }
    .footer-link-wrapper {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {
    .logo {
        display: block;
    }
    .row {
        display: flex;
    }
    .row > * {
        flex-basis: 100%;
    }
    .hero {
        min-height: 660px;
    }
    .hero h1 {
        font-size: 5.625rem;
        line-height: 1;
        margin-bottom: 0;
    }
    .hero__content {
        align-self: flex-end;
    }

    .product__product {
        text-align: center;
    }
    .product__product + .product__product {
        margin-left: 5.5rem;
    }
     
    .workflow__section--2 {
        display: block;
        padding: var(--section-padding);
        margin-left: 4rem;
    }

    .workflow--work + .workflow--work {
        margin-left: 0;
    }

    .footer h1 {
        text-align: center;
        font-size: 3.5rem;
    }
    .footer-link-wrapper {
        margin-left: 5rem;
    }
}




